body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-popover-content {
}

.ant-popover-inner, .ant-popover-arrow-content {
  border-radius: 8px !important;
  overflow: hidden !important;
  background: linear-gradient(to top right, #c6e5ee, #edfbff);
}

.ant-popover-inner-content {
  padding: 6px !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 2px 0 !important;
}
